/*
 * Main.css
 */
.pane {
	padding: 1%;
}
.banner {
	width: 20%;
}
.startup_pane {
	float: right;
	width: 40%;
	background: #FFFFFF;
	padding-left: 2%;
	border-radius: 1%;
	margin-top:-11.5%;
}

/*
 @overrides
 */
input[type="text"], input[type="password"] {
	border: solid thin #000000;
	box-shadow: inset 0 1px 3px #fff !important;
	width: 60%;
	height: 40px;
}

.banner {
	color: #FFFFFF;
	font-size: 1.7em;
	width:46%;
	padding:.5%;
	font-weight: bold;
	background: rgb(0,0,0);
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.5;
	margin-top:2%;
}

.panel {
	background-position: initial initial;
	background-repeat: initial initial;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #FFFFFF;
	overflow: hidden;
}

.panel-info {
	background-color: #1F8DD6 !important;
}
.panel-success {

}
.panel-warning {

}
.panel-error {

}
#pane1 {
	background: url("images/sign_up.jpg");
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#sign_up_btn_holder {
	margin-top: 5%;
}
#loginmenu {
	float: right;
	margin-right: 1%;
	margin-top: -1%;
}
.nbr {
	overflow: hidden;
}

/*
 upload button styling.
 */
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
